" =========== vim settings ===========
set scrolloff=5
set incsearch
set hlsearch
set ignorecase
set number
set smartcase
set visualbell
set showmode
set nrformats
" IdeaVim only commands:
set clipboard=ideaput
set ideamarks
set ideajoin


" ========== plugins ===========
Plug 'https://www.vim.org/scripts/script.php?script_id=1697'
Plug 'machakann/vim-highlightedyank'
Plug 'preservim/nerdtree'

" nerdtree
" Plug 'preservim/nerdtree`
"
" :NERDTree
" :NERDTreeFocus
" :NERDTreeToggle
" :NERDTreeClose
" :NERDTreeFind
" :NERDTreeRefreshRoot

"Plug 'https://github.com/preservim/nerdtree'
nnoremap <leader>n :NERDTreeFocus<CR>
nnoremap <leader>t :NERDTree<CR>
nnoremap <C-t> :NERDTreeToggle<CR>
nnoremap <C-f> :NERDTreeFind<CR>

set easymotion
set sneak

" keep english
set keep-english-in-normal
set keep-english-in-normal-and-restore-in-insert

" which key plug
set which-key
set notimeout
set timeoutlen=1000

" =========== vim keybindings ===========
let mapleader=" "

"=========== normal mode ===========
nnoremap H ^
nnoremap L $
nnoremap <C-a> ggVG

" =========== insert mode ==========
inoremap jj <ESC>

" =========== visual mode ===========
vnoremap H ^
vnoremap L $

" =========== map action ===========
map gc <action>(CommentByLineComment)
map gcc <action>(CommentByBlockComment)

" move
map <leader>c <action>(GotoClass)
map <leader>f <action>(GotoFile)
map <leader>a <action>(GotoAction)
map <leader>i <action>(GotoImplementation)

map <leader><C-i> <action>(ImplementMethods)
map <leader><C-o> <action>(OverrideMethods)

map <leader>w <action>(CloseContent)
map <leader>s <action>(SaveAll)
map <leader>p <action>(ParameterInfo)
map <leader><j> <action>(SurroundWithLiveTemplate)
map <C-p> <action>(ParameterInfo)
map <C-h> <action>(TypeHierarchy)
map gq <action>(ReformatCode)
map gqq <action>(ShowReformatFileDialog)

" ========== set handler ==========
sethandler <C-c> v:ide
sethandler <C-v> i:ide
sethandler <C-x> v:ide
sethandler <C-j> i:ide
sethandler <C-e> n:ide




